<div class="{% if layout == '0' %}container {% endif %}entry-content{% if theme.theme_mod('flow_text_content') == 1 %} flow-text{% endif %}" itemprop="description">
	{{ post.content }}
	<div class="clearfix"></div>
</div>
